.myfont1{
    font-family: 'Festive', cursive;
}
.myfont2{
    font-family: 'Rampart One', cursive;
}
.c-color{
    color: rgb(223, 190, 6);
}
#first-carousel .carousel-indicators li{
    height: 10px;
    width: 10px;
    border-radius: 50%;
}
#first-carousel .carousel-item span{
    background-color: rgb(223, 190, 6);
    padding: 10px 15px;
}
#first-carousel .carousel-item h1{
    background-color: rgba(0, 0, 0,0.5);
    width: max-content;
    padding: 5px 10px;
    margin: auto;
    margin-bottom: 20px;
}
#first-carousel .carousel-caption{
    height: max-content;
    width: max-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#first-carousel .carousel-item img{
    filter: brightness(0.3);
}
#section-1{
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("slide1.jpg");
    background-size: cover;
    padding: 30px 50px;
    text-align: center;
    color: rgb(208, 208, 208);
}
#gallery{
    text-align: center;
}
#gallery img{
   width: 200px;
   margin: 1px;
   transition: .6s;
}
#gallery img:hover{
    transform: scale(1.2);
}
#section-2,#section-3{
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("slide2.jpg");
    background-size: cover;
    padding: 30px 50px;
    text-align: center;
    color: rgb(208, 208, 208);
}
#section-3>div{
    text-align: left;
}
#section-3 h6{
    line-height: 40px;
    border-bottom: 1px solid rgb(193, 193, 193);
}
footer a{
    font-size: 20px;
}
#btntop{
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.c-card{
    border: none;
    background: linear-gradient(to right,rgb(4, 102, 162) 50%, rgb(255, 255, 255) 50% );
    background-size: 200%;
    background-position:right;
    transition: .5s ;
}
.c-card:hover{
    color: white;
    background-position:left;
}